EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=892541607147-lsvgfd2bnc14bedn150a0jflmv30gh1m.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=892541607147-no1cnphat1e4ksb72urft5l2991afn6l.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=892541607147-mrse0ua8umjjk9rdc588chb3qtauph41.apps.googleusercontent.com
