# Server Configuration
PORT=5000
NODE_ENV=development
API_PREFIX=/api
CORS_ORIGIN=*

# Database Configuration
MONGODB_URI=mongodb://127.0.0.1:27017/blacksquad_db
JWT_SECRET=generate-a-random-secret-at-least-32-characters

# Google OAuth Client IDs
GOOGLE_WEB_CLIENT_ID=892541607147-lsvgfd2bnc14bedn150a0jflmv30gh1m.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=892541607147-no1cnphat1e4ksb72urft5l2991afn6l.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=892541607147-mrse0ua8umjjk9rdc588chb3qtauph41.apps.googleusercontent.com
